body {
    background-color: rgb(8, 7, 8);
    color: #e2ece9;
    font-family: 'Arial';
    margin: 0;

}

header , main {
    padding: 20px;
}

header {
    background-color: rgb(47, 95, 59);
    color: rgb(221, 214, 206);
     text-align: center;
} 

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;

}




