body {
    font-family: fantasy;
    background-color: rgb(212, 208, 203);

}

.survey-form {
    background-color: white;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px black;


}

.form-group {

    margin-bottom: 20px;

}

label {
    display: block;

}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 6px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 15px;
    background-color: lightgray;
    color: black;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: darkgrey;
    transform: scale(1.05);

}